

.sideButton{
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  position: relative;
  top: 50px;
  /* left: -10px; */
  z-index: 2;
  border: 1px solid black;
}


.sideButton span{
  border-left: 2px solid black;
  margin: 1px;
  height: 80px !important;
}
.sideButton2{
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  position: relative;
  top: 50px;
  left: 268px;
  z-index: 2; 
}

#offcanvasExample{
  width: 300px !important;
}