#PajeOne{
  background-color: aqua;
  height: 100vh;
  border-radius: 10px;
}
#PajeOne #two{
  background-color: blue;
  height: 100vh;
  border-radius: 10px;
}
#PajeOne #three{
  background-color: rgb(255, 0, 0);
  height: 100vh;
  border-radius: 10px;
}
#PajeOne #four{
  background-color: rgb(255, 0, 195);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#PajeOne p{
  margin: 50px;
}


#PageTwoTrans{
  background-color: sienna;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#PageTwoTrans1{
  background-color: blue;
  height: 100vh;
}
#PageTwoTrans2{
  background-color: blueviolet;
  height: 100vh;
}
#PageTwoTrans3{
  background-color: rgb(0, 213, 255);
  height: 100vh;
}

#PageTwoTrans p{
  margin: 50px;
}

#PageThreeTrans{
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#PageThreeTrans p{
  margin: 50px;
}

.obverflow-hidden{
  overflow: hidden !important;
}